body {
    background-color: #f4f4f9; /* Set a light grey background color for the entire page */
}

h1 {
    font-size: 1.5rem; /* Set the font size for h1 headings to 1.5 rem units */
    color: #333; /* Set the text color for h1 headings to dark grey */
}

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to card elements for depth */
    border-radius: 5px; /* Round the corners of card elements */
}

.btn {
    margin-top: 10px; /* Add some space above buttons to separate them from other elements */
}

/* Styling for primary buttons */
.btn-primary {
    background-color: #67c037; /* Set a green background color */
    border-color: #67c037; /* Set a green border color */
    color: white; /* Set text color to white for contrast */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for color changes */
}

/* Hover state for primary buttons */
.btn-primary:hover {
    background-color: #adf188; /* Lighten the green background color on hover */
    border-color: #adf188; /* Lighten the green border color on hover */
}

/* Active state for primary buttons */
.btn-primary:active {
    background-color: #8bea58; /* Darken the green background color when button is active (clicked) */
    border-color: #8bea58; /* Darken the green border color when button is active */
}

/* Focus state for primary buttons - matches active state */
.btn-primary:focus {
    background-color: #8bea58; /* Maintain dark green background color when button is focused */
    border-color: #8bea58; /* Maintain dark green border color when button is focused */
    outline: none; /* Remove default focus outline for a cleaner look */
}

.custom-gap-color {
    background-color: #bbdb9d; /* Example custom color */
    color: #000000; /* Optional: text color */
}

